/CRUDJava/nbproject/private/
/CRUDJava/build/
/CRUDJavaMVC/nbproject/private/
/CRUDJavaMVC/build/
/JavaPersistenceExample/nbproject/private/
/MVC_Review/dist/
/JavaPersistenceExample/build/
/Veterinary_Clinic/nbproject/private/
/Veterinary_Clinic/build/